* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  background-color: #f9f2ed;
  height: 100vh;
}

.body-index {
  background-color: #863636;
}

.img-logo {
  width: 75px;
  height: 75px;
}

.name-logo {
  font-size: 15px;
  color: #e79b6c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.img-jumbotron {
  width: 100%;
}

.halaman-mulai {
  background-color: #863636;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.judul-mulai {
  color: white;
  font-size: 3rem; /* Larger heading */
  font-weight: 600; /* Use a semi-bold or bold font weight */
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em; /* Add a little letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow */
}

.deskripsi-mulai {
  font-size: 1rem;
  color: white; /* Slightly lighter text */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.tombol-mulai {
  padding-bottom: 30px;
}

.btn.btn-mulai {
  text-align: center;
  font-weight: 600;
  font-size: large;
  width: 100%;
  padding: 15px;
  background-color: #c67c4e;
  color: white;
  border-radius: 15px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn.btn-mulai:hover {
  background-color: #be7242;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn.btn-mulai:active {
  background-color: #724529;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sec-color {
  color: #e79b6c;
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px 16px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  padding: 8px;
}

.banner {
  background-color: #e5a883;
  color: white;
  border-radius: 15px;
  position: relative;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
}

.banner h1 {
  text-shadow: 2px 2px 4px rgb(99, 99, 99);
}

.promo-banner {
  background-color: #c67c4e;
  text-align: center;
  color: white;
  border-radius: 8px;
  width: 100px;
}

.promo-banner p {
  font-weight: 600;
  padding: 5px;
}

.img-banner {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.img-banner img {
  width: 150px;
}

.category-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}

.category-item {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #e3e3e3;
  flex-shrink: 0;
}

.picked-category {
  background-color: #c67c4e;
  color: white;
}

.category-section {
  margin-bottom: 10px;
}

.best-seller {
  padding-bottom: 50px;
}

.best-seller .col {
  margin-bottom: 20px;
}

.product-card {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  min-height: 265px;
}

.product-thumbnail {
  position: relative;
}

.product-thumbnail img {
  position: relative;
  display: block;
  width: 100%;
  max-height: 100px;
  margin-bottom: 5px;
  object-fit: cover;
}

.product-thumbnail-rating {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.product-card h1 {
  font-weight: 800;
}

.product-card p {
  font-weight: 200;
}

.product-card-details {
  padding-left: 10px;
  line-height: 0.8;
  font-size: 16px;
  flex: 1;
}

.harga-card {
  font-size: 16px;
  font-weight: 600 !important;
  padding-top: 10px;
}

.btn-plus {
  background-color: #c67c4e;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 10px;
  height: 40px;
}

.container-harga-card {
  display: flex;
  justify-content: space-between;

  gap: 10px;
}

.nav-bottom.home {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  color: rgb(154, 154, 154);
  padding-top: 5px;
  padding-bottom: 5px;
}

.bi-house-fill {
  color: red;
  border-bottom: 5px solid red;
  border-radius: 5px;
}

.nav-top {
  background-color: white;
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 600;
  padding: 5px 20px;
}

.bi-chevron-left {
  color: black;
}

.product-img {
  margin-top: 50px;
}

.product-img img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  padding: 10px;
}

.nav-bottom.product {
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.nav-bottom .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat p {
  white-space: nowrap;
  margin: 0;
  font-weight: 500;
  color: #c67c4e;
  line-height: 0;
}

.pesan-sekarang {
  background-color: #c67c4e;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-icon {
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.size-option {
  background-color: #f5f5f5;
  border: 1px solid #c67c4e;
  border-radius: 10px;
}
